.sapMSplitContainer:not(.sapMSplitContainerHideMode) .sapMOH {
    padding: 0.5rem 1rem !important;
}

.sapMLIB.sapMLIBSelected {
    background: #EAEDED !important;
}



/*margin remove*/
.sapMOHBottomRow {
    margin-top: 0rem !important;
    font-size: 0rem  !important;
}

/*remove title space*/
.sapUiSizeCompact .sapUiFormContainerTitle>.sapUiFormTitle {
    height: 0rem!important;
    line-height: 1rem;
}
.title .sapMIBar-CTX .sapMTitle{
	color: #ab1030 !important;
}
.sapUiFormResGrid>div {
    padding: 0rem 0rem!important;
    box-sizing: border-box;
}

.sapUiLargeMarginBegin {
    margin-left: 10rem!important;
}

.backgrounColorRed{
	 background-color: red;
}

.blurForPerticularItemCustom{
	filter: blur(8px);
  -webkit-filter: blur(8px);
}

/*#add for icon big*/
.sapSuiteUiCommonsTimelineItemBarIconWrapperV span, .sapSuiteUiCommonsTimelineItemIconWrapper span {
    font-size: 2rem!important;
    
}

.sapSuiteUiCommonsTimelineItemShellBody {
    padding: 0rem 0 0 0!important;
}
/*for detail Page Header space remove mobile*/
.sapUiSizeCompact .sapMListTblRow {
    height: 0rem!important;
}

/*color for master list icon*/
.colorCodeForIcon{
color:#AB1032!important;	
}

/*color for error msg*/
.sapSuiteUiCommonsTimelineStatusError, .sapSuiteUiCommonsTimelineItemWrapperV .sapSuiteUiCommonsTimelineItemNoIcon.sapSuiteUiCommonsTimelineStatusError, .sapSuiteUiCommonsTimelineItemWrapper .sapSuiteUiCommonsTimelineItemNoIcon.sapSuiteUiCommonsTimelineStatusError {
    color: #ab1030!important;;
}

/*mobile form below space remove*/
.sapUiFormM:not(.sapUiFormEdit) .sapUiFormResGridCont {
    padding-bottom: 0rem!important;
}

.hideContent .sapMPanelContent,
.sapUiSizeCompact .sapUxAPObjectPageLayout-Std-Desktop .sapUxAPBlockContainer {
    padding: 0!important
} 

.panelHeadingCustomClass{
	font-size: 1rem!important;
}

/*for blur vbox*/
[data-blurItemLevel="B"] {
    -webkit-filter: blur(8px);
-moz-filter: blur(8px);
-ms-filter: blur(8px);
-o-filter: blur(8px);
filter: blur(8px);
}

